@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #FAFAFA; 
  color: #000000;
  overflow-x: hidden; 
}


button {
  transition: all 0.2s ease-in-out;
}


button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button:active {
  transform: translateY(0);
}